<h1>CitiBike Stations</h1>
<h3>Last updated <%= time_ago_in_words(@refresh_time) %> ago</h3>
<p><%= @refresh_time %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Availablebikes</th>
    <th>Availabledocks</th>
    <th>Last updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stations.each do |station| %>
  <tr>
    <td><%= station.name %></td>
    <td><%= station.latitude %></td>
    <td><%= station.longitude %></td>
    <td><%= station.availableBikes %></td>
    <td><%= station.availableDocks %></td>
    <td><%= station.last_updated %></td>
    <td><%= link_to 'Show', station %></td>
    <td><%= link_to 'Edit', edit_station_path(station) %></td>
    <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Station', new_station_path %>
