<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Twitter:</b>
  <%= @user.twitter %>
</p>

<p>
  <b>Cell number:</b>
  <%= @user.cell_number %>
</p>

<p>
  <b>Home station:</b>
  <%= @user.home_station.display_station unless @user.home_station.nil?  %>
</p>

<p>
  <b>Work station:</b>
  <%= @user.work_station.display_station unless @user.work_station.nil?  %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
