<% if !@user.nil? && !@user.first_name.nil? %>
  <h2> Welcome, <%= @user.first_name %>!</h2>

  <p>
    <b>Home station:</b>
    <%= @user.home_station.display_station unless @user.home_station.nil?  %>
  </p>

  <p>
    <b>Work station:</b>
    <%= @user.work_station.display_station unless @user.work_station.nil?  %>
  </p>


  <%= link_to 'Edit Your Profile', edit_user_path(@user) %></br>
  <%= link_to 'Sign Out', logout_path %>

  <div id="map-canvas"></div>
<% elsif @user && @user.first_name.nil? %>
  <h3> Please create your <a href="<%= edit_user_path(@user) %>">profile</a></h3>
<% else %>
<h3> Please <a href="<%= new_user_session_path %>">sign in</a> or <a href="<%=new_user_registration_path%>">sign up</a> first! </h3>
<% end %>


